default: &default
  adapter: mysql2
  encoding: utf8mb4
  collation: utf8mb4_unicode_ci
  reconnect: true
  pool: 15
  reaping_frequency: 25
  username: root
  password: headerlabs
  host: localhost
  port: 3306

development:
  <<: *default
  database: toy_app_development

test:
  <<: *default
  database: toy_app_test


staging:
  <<: *default
  database: toy_app_staging
  password: headerlabs


production:
  <<: *default
  database: salak_production
